a*.exe
*.obj
**/html/
*.txt
.gitignore
.vscode/
*.ps1
/Cpp/Project1/.vs/Project1/FileContentIndex/a6fc75c6-1adb-440d-b7fe-086199d75e97.vsidx
/Cpp/Project1/.vs/Project1/FileContentIndex/d970746d-be7f-4bad-b92e-48067d202f6e.vsidx
/Cpp/Project1/.vs/Project1/FileContentIndex/da6c63a8-d97b-4294-8f46-4e8b8d05e5ad.vsidx
